header{
  width: 100%;
  height: 90px;
  background-color: $main-color;
  @include container;
  .container {
    @include flex;
    img {
      height: 60%;
    }
    select {
      width: 10%;
      height: 30%;
      padding: 0 10px;
      margin-left: 30px;
      text-align: center;
    }
  }
}